[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "game/lib/flecs"]
	path = game/lib/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "game/lib/tmxlite"]
	path = game/lib/tmxlite
	url = https://github.com/fallahn/tmxlite
[submodule "game/lib/json"]
	path = game/lib/json
	url = https://github.com/nlohmann/json
[submodule "game/libdatachannel"]
	path = game/lib/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "game/lib/datachannel-wasm"]
	path = game/lib/datachannel-wasm
	url = https://github.com/paullouisageneau/datachannel-wasm.git
[submodule "game/lib/glm"]
	path = game/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "game/lib/libdatachannel"]
	path = game/lib/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
